<div id="<%= dom_id book %>">
  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= book.desc %>
  </p>

  <p>
    <strong>Page number:</strong>
    <%= book.page_number %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= book.release_year %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= book.image_url %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book.category_id %>
  </p>




  

</div>
