<div id="<%= dom_id search %>">
  <p>
    <strong>Isbn:</strong>
    <%= search.isbn %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= search.title %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= search.release_year %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= search.author %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= search.category %>
  </p>

  <p>
    <strong>Min price:</strong>
    <%= search.min_price %>
  </p>

  <p>
    <strong>Max price:</strong>
    <%= search.max_price %>
  </p>

</div>
