<!DOCTYPE html>
<html>
  <head>
    <title>Bookshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  <!-- Navigation-->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
       <div class="container px-4 px-lg-5">
           <a class="navbar-brand" href="/">Bookshop</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                   <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                   <li class="nav-item"><a class="nav-link" href="/authors">Authors</a></li>
                   <li class="nav-item"><a class="nav-link" href="/categories">Categories</a></li>
                   <li class="nav-item "><a class="nav-link" href="#"></a></li>
                   <li class="nav-item pr-5">
                       <form class="form-inline my-2 my-lg-0">
				      
				      <%= form_tag books_path, :method => 'get' do  %>
						<%= text_field_tag :search, params[:search], class:"form-control mr-sm-2"  %>
						<%= submit_tag "search", class:"btn btn-outline-success" %>
				      <% end %>
				      
    				   </form>
                   </li>
                   <li class="nav-item"><a class="nav-link" href="#"></a></li>
                   <li class="nav-item "><a class="nav-link" href="#"></a></li>
                   <li class="nav-item "><a class="nav-link" href="#"></a></li>
                   <li class="nav-item "><a class="nav-link" href="#"></a></li>
                   <li class="nav-item">

	                   <button class="btn btn-outline-success right" type="submit">
	                       <%= link_to "Cart", cart_path,  :class => 'text-white text-decoration-none' %>
	                       <span class="badge bg-dark text-white ms-1 rounded-pill">
	                       	<%= @cart.orderables.count %>
	                       </span>
	                   </button>
                   </li>
				<li class="nav-item "><a class="nav-link" href="#"></a></li>
	              		<!-- Add Login /sign up links -->
				    <% if user_signed_in? %>
				      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-success' %> |
				      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger'  %>
				    <% else %>
				      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-info'  %> |
				      <%= link_to "Login", new_user_session_path, :class => 'btn btn-success'  %>
				    <% end %>
				    <!-- END of Login /sign up links -->
	                   

               </ul>


           </div>
       </div>
   </nav>



    <%= yield %>

    
   <!-- Footer-->
   <footer class="py-5 bg-dark mb-0">
       <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BOOKSHOP 2022</p></div>
   </footer>
   
  </body>
</html>
